:root {
	--light:      #d3d9ea;
    --dark:       #000000;
    --primary:    #e21837;
    --secondary:  #7e61c5;
    --info:       #bc7ef7;
    --accent1:    #633a9b;
    --accent2:    #8463c5;
    --accent3:    #ababc6;
    --success:    #16a667;
    --warning:    #dfcd16;
    --danger:     #ed2b09;
    /* FONT COLOR */
    --dark_text : #212529;
    --light_font_color : #8b8b8b;
    /* FONT SIZE */
    --sec_title_font_size: 50px;
    --regular_fs : 18px;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: var(--regular_fs);
	color: var(--light_font_color);
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--dark_text);
}
.bg-dark {
    background-color: var(--dark) !important;
}
.btn {
    border-radius: 0.3rem;
    text-transform: uppercase;
}
.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary)
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: var(--primary);
    border-color: var(--primary)
}
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus {
    box-shadow: 0 0 0 0.25rem rgb(226 24 55 / 19%);
}
.owl-carousel .hero_item .btn img {
    width: 12px;
    display: inline-block;
    margin-left: 5px;
}


.light_font_color {
    color: var(--light_font_color);
}

.sec_pad_top {
    padding-top: 80px;
}
.sec_pad_bottom {
    padding-bottom: 80px;
}
.sec_title {
    font-size: var(--sec_title_font_size);
    font-weight: 800;
}
.scale {
    overflow: hidden;
}
.scale img {
    width: 100%;
}
@media(max-width: 767px) {
    .scale img {
        width: 100%;
        height: 24px;
        object-fit: cover;
    }
}

/* BOOTSTRAP DROPDOWN */
.dropdown-menu {
    padding: 10px;
    min-width: 190px;
    margin-top: 0 !important;
    border-radius: 6px;
}
.dropdown-menu .dropdown-item {
    padding: 0.45rem 1rem;
    border-radius: 4px;
    font-weight: 600;
    font-size: 15px;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: var(--primary);
}


/* HEADER TOP */
.navbar-toggler {
    padding: 0;
    height: 38px;
    width: 38px;
    margin-left: 18px;
    display: none;
}
.header_top {
    padding: 20px 0;
}
.header_top .header_top_wrap {
    display: flex;
    justify-content: space-between;
}
.header_top .header_top_wrap a.navbar_brand img {
    height: 80px;
}
.header_top .header_top_wrap .left_sec {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.header_top .header_top_wrap .left_sec .ph_sec a {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.header_top .header_top_wrap .left_sec .ph_sec a img {
    height: 32px;
}
.header_top .header_top_wrap .left_sec .ph_sec a .content {
    display: flex;
    flex-flow: column;
    line-height: 1;
    margin-left: 15px;
}
.header_top .header_top_wrap .left_sec .ph_sec a .content .phNumberTitle {
    font-weight: 600;
    margin-bottom: 6px;
    color: var(--dark_text);
}
.header_top .header_top_wrap .left_sec .ph_sec a .content .phNumber {
    color: #767676;
}

/* HEADER NAVBAR */
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0.8rem 1.2rem;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: var(--primary);
}







@media(max-width: 991px) {
    .navbar-toggler {
        display: block;
    }
}
@media(max-width: 600px) {
    .header_top {
        padding: 15px 0;
    }    
    .header_top .header_top_wrap a.navbar_brand img {
        height: 40px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0.4rem 0;
    }
    .navbar-toggler {
        margin-left: 0;
    }
}


/* HERO BANNER SCTION CSS START FROM HERE */
.hero_banner {
    overflow: hidden;
    position: relative;
}
.hero_banner .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero_banner .logo img {
    max-width: 557px;
    width: 100%;
}
.hero_banner_img {
    height: 100%;
}
.hero_banner .hero_banner_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* HERO BANNER 2 */
.hero_banner_2 {
    position: relative;
    z-index: 1;
}

.hero_banner_2 .hero_slider {
    z-index: 1;
    position: relative;
}
.hero_banner_2 .hero_slider .hero_item {
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.hero_banner_2 .hero_slider .hero_item:after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .7;
}
.hero_banner_2 .hero_slider .hero_item .sec_title {
    color: #fff;
    font-size: 55px;
}
.hero_banner_2 .hero_slider .hero_item p {
    font-size: 20px;
    color: #fff;
}
.btn img {
    width: 12px;
    display: inline-block;
    margin-left: 5px;
}

.hero_banner_2 .hero_slider .owl-nav button.owl-prev, 
.hero_banner_2 .hero_slider .owl-nav button.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 70px;
    color: #fff;
}
.hero_banner_2 .hero_slider .owl-nav button.owl-prev {
    left: 30px;
}
.hero_banner_2 .hero_slider .owl-nav button.owl-next {
    right: 30px;
}
.hero_banner_2 .hero_slider .owl-nav button.disabled {
    opacity: .4;
}

/* ABOUT SECTION STYLE HERE */
.about_img {
    position: relative;
}
.about_img:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    left: -15px;
    top: 15px;
    z-index: -1;
}
.about_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* SERVICE SECTION DESIGN HERE */
.service_card img {
    aspect-ratio: 15/10;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.service_card .content {
    padding-top: 24px;
}
.service_card .content a:hover h5 {
    color: var(--primary);
}


/* COUNT SECTION */
.counts {
    background: var(--primary);
    padding-top: 40px;
    padding-bottom: 40px;
}
.counts .count_item {
    text-align: center;
}
.counts .count_item img {
    height: 50px;
    margin-bottom: 15px;
}
.counts .count_item h5 {
    color: #fff;
    font-weight: 700;
    margin-bottom: 7px;
}
.counts .count_item p {
    color: #fff;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0;
}

/* OUR WORK SECTION */
.work_card {
    position: relative;
}
.work_card .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0000008a;
    transform: scale(0.0);
    transition: .3s;
}
.work_card:hover .overlay {
    transform: scale(1);
}
.work_card .overlay h5 {
    font-weight: 700;
}
.work_card .overlay h5 a {
    color: #fff;
}
.work_card .overlay h5 a:hover {
    color: var(--primary);
}
.work_card img {
    aspect-ratio: 15/12;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* TESTIMONIALS SECTION */
.testimonials_sec {
    position: relative;
    z-index: 1;
}
.testimonials_sec:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .7;
    z-index: -1;
}
.testimonials_slider .testimonials_item {
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
}
.testimonials_slider .testimonials_item img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 24px;
    border: 6px solid #fff;
    border-radius: 50%;
}
.testimonials_slider .testimonials_item .user_nm {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 19px;
    line-height: 1;
}
.testimonials_slider .testimonials_item .user_nm .designation {
    color: var(--primary);
    font-weight: 700;
}
.testimonials_slider .testimonials_item p {
    color: #fff;
    margin-bottom: 0;
}

.owl-carousel .owl-dots {
    margin-top: 30px;
    text-align: center;
}
.owl-carousel button.owl-dot {
    background: transparent;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    border: 1px solid #fff;
}
.owl-carousel button.owl-dot.active {
    background: var(--primary);
}


/* WHATS NEW SECTION */
.whats_new {
    background: #f2f2f2;
    padding: 20px;
    text-align: center;
}
.whats_new h5 a {
    color: var(--dark_text);
}
.whats_new h5 a:hover {
    color: var(--primary);
}
.whats_new img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 15/10;
    margin-bottom: 15px;
}
.whats_new p {
    margin-bottom: 0;
}


/* FOOTER */
footer {
    background: #1a1a1a;
}
footer .f_brand img {
    height: 80px;
    width: auto;
}
footer .f_links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    flex-flow: wrap;
}
footer .f_links a {
    color: #fff;
    padding: 0 12px;
    display: inline-block;
    text-transform: uppercase;
}
footer .f_links a:hover {
    color: var(--primary);
}

.footer_bottom {
    text-align: center;
    padding-bottom: 50px;
}


@media(max-width: 1600px) {
    :root {
        --sec_title_font_size: 38px;
    }
}
@media(max-width: 991px) {
    .dropdown-menu {
        background: transparent;
        padding: 0 20px;
    }
    .dropdown-menu .dropdown-item {
        color: var(--light_font_color);
    }
    .dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:active:hover {
        background: transparent;
        color: var(--primary);
    }
}
@media(max-width: 768px) {
    .container {
        max-width: 95%;
    }
    .header_top .header_top_wrap .left_sec .ph_sec a {
        align-items: center;
        justify-content: center;
        margin-right: 0;
        height: 100%;
        width: 100%;
    }
    .header_top .header_top_wrap .left_sec .ph_sec a img {
        height: 20px;
    }
    .header_top .header_top_wrap .left_sec .ph_sec a .content {
        display: none;
    }
    .header_top .header_top_wrap .left_sec .ph_sec {
        justify-content: center;
        background: #fff;
        border-radius: 50%;
        height: 38px;
        width: 38px;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
        margin-right: 18px;
    }
    .request_quote {
        display: none;
    }
    .hero_banner_2 .hero_slider .hero_item {
        min-height: 650px;
        height: auto;
        padding: 50px 0;
    }
}
@media(max-width: 500px) {
    :root {
        --sec_title_font_size: 34px;
    }
    .hero_banner_2 .hero_slider .hero_item .sec_title {
        font-size: 40px;
    }
    .about_img {
        margin-bottom: 30px;
    }
    .about_img:after {
        top: -10px;
        right: -10px;
        bottom: auto;
        left: auto;
    }
    footer .f_links a {
        padding: 5px 12px;
    }
    .testimonials_slider .testimonials_item {
        max-width: 100%;
    }
}